/* Réinitialisation des marges et des rembourrages */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
}

/* Utilisation d'une police plus professionnelle si disponible, sinon une police de secours */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Enveloppez votre contenu dans une grille pour une disposition plus professionnelle */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Style de l'en-tête */
header {
    background-color: var(--gris-clair);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    color: var(--rose);
}

/* Style de la barre de navigation */
nav {
    background-color: var(--gris-moyen);
    padding: 10px;
    text-align: center;
}

.changement {
    /* Vos styles inchangés ici */
}

/* Style du contenu principal */
main {
    padding: 20px;
}

/* Style du pied de page */
footer {
    background-color: var(--gris-clair);
    padding: 10px;
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}