
body, h1, button, input, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em; /* Agrandir la taille du titre */
    margin: 5px 0; /* Ajuster les marges du titre */
    font-family: 'Georgia', 'Times', serif; /* Choisir une police */
    text-align: center; /* Centrer le texte horizontalement */
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #eaeaea;  /* Gris moyen */
}

/* Couleurs principales */
:root {
    --gris-fonce: #333333;      /* Couleur gris foncé */
    --gris-moyen: #666666;      /* Couleur gris moyen */
    --gris-clair: #f2f2f2;      /* Couleur gris clair */
    --blanc: #ffffff;           /* Couleur blanche */
    --rose: #ff7b9c;            /* Rose doux */
    --noir: #000000;            /* Noir */
}

/* Centrer tous les éléments au milieu de la page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    flex-direction: column; /* Nouvelle ligne : changer la direction de flex à la colonne */
    margin-top: 20px; /* Ajouter de l'espace entre le conteneur et les boutons */
}

/* Ajout du cadre autour du conteneur */
.container-inner {
    border: 1px solid var(--noir);
    padding: 40px; /* Ajouter un espace autour des éléments à l'intérieur du cadre */
    text-align: center; /* Centrer le texte à l'intérieur du conteneur */
}

/* Style de l'en-tête */
h1 {
    font-size: 3em; /* Agrandir la taille du titre */
    margin: 30px 0; /* Ajuster les marges du titre */
    color: var(--rose); /* Conserver la couleur rose pour le titre */
    justify-content: center;
}

/* Style des boutons */
button, input[type="submit"] {
    background-color: var(--gris-fonce);
    color: var(--blanc);
    text-align: center;
    padding: 14px 24px; /* Ajuster la taille des boutons */
    margin: 10px; /* Ajouter de l'espace entre les boutons */
    border: 2px solid var(--rose);
    border-radius: 8px; /* Arrondir les bords */
    cursor: pointer;
    font-size: 1.2em; /* Agrandir la taille du texte des boutons */
    transition: background-color 0.3s, color 0.3s;
}

/* Style des champs de saisie */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 3px 0;
    border: 2px solid var(--gris-fonce); /* Utiliser la couleur gris foncé */
    border-radius: 8px; /* Arrondir les bords */
}

/* Style de la liste déroulante */
select {
    width: 100%;
    padding: 10px;
    margin: 2px 0; /* Nouvelle ligne : réduire la marge pour remonter la liste déroulante */
    border: 2px solid var(--gris-fonce); /* Utiliser la couleur gris foncé */
    border-radius: 8px; /* Arrondir les bords */
}

/* Style du message d'erreur */
span.error {
    color: var(--rose);
    margin-top: 5px;
    display: block;
}
